<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
    <link rel="stylesheet" href="../css/Classroom.css" type="text/css">
    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/auto_create_table_classroom.js"></script>

    <script>
        window.onload=function () {//返回第一周的所有教室占用信息
            // data = [{//返回第一周的所有教室占用信息
            //     name: "SY101",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            //
            // }, {
            //     name: "SY102",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY103",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY104",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY105",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY106",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY107",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY108",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY109",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY110",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY111",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }, {
            //     name: "SY112",
            //     state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //     information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            // }
            //  , {
            //         name: "SY112",
            //         state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //         information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            //   }, {
            //         name: "SY112",
            //         state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //         information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            //     }, {
            //         name: "SY112",
            //         state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //         information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            //     }, {
            //         name: "SY112",
            //         state_1: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4],
            //         information:[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4]
            //     }];
          //  auto_create_table_classroom(data);

            data_1 = [{
                year: "2019",//此学生所有年份降序排列
                semster: "Spring"
            },
                {
                    year: "2018",
                    semster: "Fall"
                }];
            var select=$("#year");
            for (var j = 0; j < data_1.length; j++) {
                //排序，从降序
                //alert(data_1[j].year);
                select.append("<option style='font-size: 1em' value=" + j + ">" + data_1[j].year + "/" + data_1[j].semster + "</option>");
            }//选择下拉框
            select.val(0);
          $.ajax({
                type: "post",
                url: "/load_classroom_year",
                data: JSON.stringify(json),
                dataType: "json",
                contentType: "application/json",
                success: function (data_1, status) {
                    //追加下拉框
                    for (var j = 0; j < data_1.length; j++) {
                        //排序，从降序
                        //alert(data_1[j].year);
                        select.append("<option style='font-size: 1em' value=" + j + ">" + data_1[j].year + "/" + data_1[j].semster + "</option>");
                    }//选择下拉框
                    select.val(0);

                }
            });
          var json= {Id: $.getUrlParam("id"), type: $.getUrlParam("type")};
            $.ajax({
                type: "post",
                url: "/load_Classroon",
                data: JSON.stringify(json),
                dataType: "json",
                contentType: "application/json",
                success: function (data, status) {
                    auto_create_table_classroom(data);
                }
            });

        }
 </script>

</head>
<body>

<!--顶部开始-->
<div id="c" class="">


    <div id="head">
        <div id="home_head">
            <p id="home_head_name">17301066 孔德焱</p>
        </div>
        <div id="home_search" >
            <ul>
                <li><img src="../static/images/logo.png" height="50px" style="padding: 2px;"></li>
                <li><a class="s" href="Home.html">主页</a></li>
                <li><a class="s" href="course.html">课程</a></li>
                <li><a class="s" href="select_course.html">选课系统</a></li>
                <li><a class="s" href="Classroom.html">教室资源</a></li>
                <li><a class="s" href="Project.html">项目管理</a></li>
                <li><a class="s" href="Award.html">奖学金申请</a></li>
                <li><a class="s" href="Information.html">个人信息</a></li>
            </ul>
        </div>
    </div>
    <hr>


    <div id="l"  class="">
        <div id="l_1"  class="">
            <div id="l_1_1" class="">
                &nbsp
                <b id="l_1_1_1">Welcome,Tom </b>
            </div>
            <div id="l_1_2" class="">
                &nbsp
                <b id="l_1_2_1">Service</b> <hr>
                <u id="l_1_2_2">
                    <li > <a class="l_select"  href="#" >教室占用情况</a></li> <hr>
                    <li ><a class="l_select"  href="selected_classroom.html" >已申请</a></li> <hr>
                </u>
            </div>
        </div>
    </div>
    <div id="r"  class="">
        <div id="r_1"  class="">
            <div id="r_1_1" class="">
                &nbsp
                <b id="r_1_1_1">ClassRoom Taken information</b>
                <b id="r_1_1_2">course taken</b>
                <b id="r_1_1_3">exam taken</b>
                <b id="r_1_1_4">reservation taken</b>
                <b id="r_1_1_5">person taken</b>
            </div>
            <div id="r_1_2" class="">
                <b class="time" >年份:</b>
                <select style="font-size: 0.5em" id="year">

                </select>&emsp;&emsp;
                <b class="time">周次:</b>
                <select style="font-size: 0.5em" id="week">
                    <option style="font-size: 1em" value="1">  week 1</option>
                    <option style="font-size:1em"  value="2">  week 2</option>
                    <option style="font-size: 1em"  value="3"> week 3 </option>
                    <option  style="font-size: 1em" value="4">week 4</option>
                    <option  style="font-size: 1em" value="4">  week 5</option>
                    <option  style="font-size: 1em" value="4">  week 6</option>
                    <option  style="font-size: 1em" value="4"> week 7 </option>
                    <option  style="font-size: 1em" value="4">week  8 </option>
                    <option  style="font-size: 1em" value="4"> week 9 </option>
                    <option  style="font-size: 1em" value="4">week  10 </option>
                    <option  style="font-size: 1em" value="4"> week 11 </option>
                    <option  style="font-size: 1em" value="4">  week 12</option>
                    <option  style="font-size: 1em" value="4"> week 13 </option>
                    <option  style="font-size: 1em" value="4"> week 14 </option>
                    <option  style="font-size: 1em" value="4">  week 15</option>
                    <option  style="font-size: 1em" value="4">  week 16</option>
                    <option  style="font-size: 1em" value="4"> week 17 </option>
                    <option  style="font-size: 1em" value="4"> week 18 </option>
                    <option  style="font-size: 1em" value="4"> week 19 </option>
                    <option  style="font-size: 1em" value="4"> week 20 </option>

                </select>&emsp;&emsp;
                <b class="time">教学楼:</b>
                <select style="font-size: 0.5em" id="building">
                    <option style="font-size: 1em" value="0"> 全部</option>
                    <option style="font-size: 1em" value="1"> SY</option>
                    <option style="font-size:1em"  value="2"> YF</option>
                    <option style="font-size: 1em"  value="3">SD</option>
                    <option  style="font-size: 1em" value="4"> SX</option>
                </select>&emsp;&emsp;
                <b class="time">教室编号:</b>
                <input  type="text" placeholder="classroom number" id="classroom_number" >  &nbsp
                <input type="button"  value="Search" id="search" onclick="Search_classroom();"/>
            </div>
            <div id="r_1_3" class="">

                <table  id="senfe";width="100%"  border="1"  cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <thead>
                    <tr >
                        <td class="t_row_1">Week</td>
                        <td class="t_row_1" colspan="7" >Monday</td>
                        <td class="t_row_1" colspan="7" >Tuesday</td>
                        <td class="t_row_1"  colspan="7" >Wednesday</td>
                        <td class="t_row_1" colspan="7" >Thursday</td>
                        <td class="t_row_1" colspan="7" >Friday</td
                        ><td class="t_row_1" colspan="7" >Saturday</td>
                        <td class="t_row_1" colspan="7" >Sunday</td>

                    </tr>
                    <tr >
                        <td  class="time">Classromm/slides</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                        <td class="t_row_2">1</td> <td class="t_row_2">2</td><td class="t_row_2" >3</td><td class="t_row_2">4</td><td class="t_row_2">5</td><td class="t_row_2">6</td><td class="t_row_2">7</td>
                    </tr>
                    </thead>
                    <tbody id="group_one">
                    </tbody>
                </table>
                <div id="r_4">
                    <button class="a_1" type="button" id="firstPage">首 页</button>
                    <button class="a_1"  type="button" id="prePage">上一页</button>
                    <button class="a_1" type="button" id="nextPage">下一页</button>
                    <button class="a_1" type="button" id="lastPage">末 页</button>
                    第<h id="currentPage" class="a_1" ></h>页/共<h id="total_page" class="a_1"></h>页
                    &nbsp&nbsp第
                    <input class="a_1" id="aim_page" value="1" style="width:20px"/>&nbsp页
                    <button class="a_1" type="button" id="jump">跳转</button>
               </div>
        </div>
        </div>
    </div>
</div>


<div id="tm">

</div>
<div id="dialog_1">
    <div id="form_1">
        <form name="Person" height = "350" width = "400" onsubmit="return onSmText();" >
            <br> <br>
            <h4>教室申请</h4>  <br>
            <div id="p_1">
                <b class="l_select" >教室 ：</b> <b class="l_select" id="p_classroom"></b>  <br>
                <b class="l_select">日期：</b>  <b class="l_select"  id="p_data"></b>  <br>
                 <br><br>
            </div>
            <br>
            <div id="p_2" >
                <b class="l_select">开始:</b> <input placeholder="格式：1 代表第一节次" id="p_StartTime" style="width: 150px;height:15px;font-size: 0.5em" type="text"/>&nbsp&nbsp <b id="start_1" style="width: 50px; display: none;font-size: 0.5em;color: #b31b1b">必填</b><br>
                <b class="l_select">结束:</b> <input placeholder="格式：1 代表第一节次" id="p_EndTime" style="width: 150px;height:15px;font-size: 0.5em" type="text"/>&nbsp&nbsp <b id="end_1" style="width: 50px; display: none;font-size: 0.5em;color: #b31b1b">必填</b><br>
                <b class="l_select">学号:</b> <input id="p_number" style="width: 150px;height:15px;font-size: 0.5em" type="text"/>&nbsp&nbsp <b id="number_1" style="width: 50px; display: none;font-size: 0.5em;color: #b31b1b">必填</b><br>
                <b class="l_select">用途:</b> <input id="p_purpose" style="width: 150px;height: 15px;font-size: 0.5em"type="text"/> &nbsp&nbsp<b  id="name_1" style="width:50px;display: none;font-size: 0.5em;color: #b31b1b">必填</b><br>
            </div>   <br>
            <input type = "submit" value = "提交" class="sumit_1">&nbsp&nbsp&nbsp
            <input type = "reset" value = "取消"  class="sumit_1" onclick="ok();">

            </br>

        </form>
    </div>
</div>

<div id="dialog_2">
    <div id="form_2">
        <form name="Person" height = "350" width = "400" onsubmit="return ok();" >
            <br>
            <br>
                <h4>详细信息</h4>  <br>
                <div style="text-align: left;width: 70%;height: 200px;border: 1px solid #949699">
                    <b class="l_select" id="information"></b>
                </div>
               <br>
                <input type = "submit" value = "确定" class="sumit_1">&nbsp&nbsp&nbsp
        </form>
    </div>
</div>
</body>

</html>

